
<table style="text-align:center"><caption><strong>Matriz de correlación</strong></caption>
<tr><td colspan="13" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>m_materna</td><td>pobM</td><td>escoacum</td><td>edad</td><td>mas50k</td><td>homicidioH</td><td>accesibilidad</td><td>empresas</td><td>conflictos</td><td>jus_pol</td><td>mat_lag</td><td>soc_sal</td></tr>
<tr><td colspan="13" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">m_materna</td><td>1</td><td>0.709</td><td>0.303</td><td>0.003</td><td>0.710</td><td>0.515</td><td>-0.153</td><td>0.271</td><td>0.093</td><td>0.490</td><td>0.014</td><td>0.802</td></tr>
<tr><td style="text-align:left">pobM</td><td>0.709</td><td>1</td><td>0.406</td><td>-0.013</td><td>0.970</td><td>0.720</td><td>-0.226</td><td>0.293</td><td>0.105</td><td>0.596</td><td>0.013</td><td>0.850</td></tr>
<tr><td style="text-align:left">escoacum</td><td>0.303</td><td>0.406</td><td>1</td><td>0.197</td><td>0.383</td><td>0.239</td><td>-0.464</td><td>0.109</td><td>0.086</td><td>0.437</td><td>0.008</td><td>0.429</td></tr>
<tr><td style="text-align:left">edad</td><td>0.003</td><td>-0.013</td><td>0.197</td><td>1</td><td>0.025</td><td>-0.030</td><td>0.003</td><td>-0.081</td><td>-0.038</td><td>-0.078</td><td>-0.111</td><td>0.007</td></tr>
<tr><td style="text-align:left">mas50k</td><td>0.710</td><td>0.970</td><td>0.383</td><td>0.025</td><td>1</td><td>0.702</td><td>-0.194</td><td>0.270</td><td>0.086</td><td>0.544</td><td>0.006</td><td>0.841</td></tr>
<tr><td style="text-align:left">homicidioH</td><td>0.515</td><td>0.720</td><td>0.239</td><td>-0.030</td><td>0.702</td><td>1</td><td>-0.154</td><td>0.212</td><td>0.110</td><td>0.332</td><td>0.003</td><td>0.653</td></tr>
<tr><td style="text-align:left">accesibilidad</td><td>-0.153</td><td>-0.226</td><td>-0.464</td><td>0.003</td><td>-0.194</td><td>-0.154</td><td>1</td><td>-0.101</td><td>-0.035</td><td>-0.304</td><td>-0.007</td><td>-0.232</td></tr>
<tr><td style="text-align:left">empresas</td><td>0.271</td><td>0.293</td><td>0.109</td><td>-0.081</td><td>0.270</td><td>0.212</td><td>-0.101</td><td>1</td><td>0.068</td><td>0.189</td><td>-0.007</td><td>0.304</td></tr>
<tr><td style="text-align:left">conflictos</td><td>0.093</td><td>0.105</td><td>0.086</td><td>-0.038</td><td>0.086</td><td>0.110</td><td>-0.035</td><td>0.068</td><td>1</td><td>0.111</td><td>0.034</td><td>0.123</td></tr>
<tr><td style="text-align:left">jus_pol</td><td>0.490</td><td>0.596</td><td>0.437</td><td>-0.078</td><td>0.544</td><td>0.332</td><td>-0.304</td><td>0.189</td><td>0.111</td><td>1</td><td>-0.004</td><td>0.631</td></tr>
<tr><td style="text-align:left">mat_lag</td><td>0.014</td><td>0.013</td><td>0.008</td><td>-0.111</td><td>0.006</td><td>0.003</td><td>-0.007</td><td>-0.007</td><td>0.034</td><td>-0.004</td><td>1</td><td>0.016</td></tr>
<tr><td style="text-align:left">soc_sal</td><td>0.802</td><td>0.850</td><td>0.429</td><td>0.007</td><td>0.841</td><td>0.653</td><td>-0.232</td><td>0.304</td><td>0.123</td><td>0.631</td><td>0.016</td><td>1</td></tr>
<tr><td colspan="13" style="border-bottom: 1px solid black"></td></tr></table>
