
<table style="text-align:center"><caption><strong>Matriz de correlación</strong></caption>
<tr><td colspan="11" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>cancerM</td><td>pobM</td><td>escoacum</td><td>edad</td><td>soc_sal</td><td>cancer_lag</td><td>empresas</td><td>conflictos</td><td>accesibilidad</td><td>homicidioH</td></tr>
<tr><td colspan="11" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">cancerM</td><td>1</td><td>0.859</td><td>0.399</td><td>0.049</td><td>0.908</td><td>0.048</td><td>0.288</td><td>0.088</td><td>-0.194</td><td>0.584</td></tr>
<tr><td style="text-align:left">pobM</td><td>0.859</td><td>1</td><td>0.406</td><td>-0.013</td><td>0.850</td><td>0.010</td><td>0.293</td><td>0.105</td><td>-0.226</td><td>0.720</td></tr>
<tr><td style="text-align:left">escoacum</td><td>0.399</td><td>0.406</td><td>1</td><td>0.197</td><td>0.429</td><td>0.099</td><td>0.109</td><td>0.086</td><td>-0.464</td><td>0.239</td></tr>
<tr><td style="text-align:left">edad</td><td>0.049</td><td>-0.013</td><td>0.197</td><td>1</td><td>0.007</td><td>0.136</td><td>-0.081</td><td>-0.038</td><td>0.003</td><td>-0.030</td></tr>
<tr><td style="text-align:left">soc_sal</td><td>0.908</td><td>0.850</td><td>0.429</td><td>0.007</td><td>1</td><td>0.003</td><td>0.304</td><td>0.123</td><td>-0.232</td><td>0.653</td></tr>
<tr><td style="text-align:left">cancer_lag</td><td>0.048</td><td>0.010</td><td>0.099</td><td>0.136</td><td>0.003</td><td>1</td><td>-0.041</td><td>-0.024</td><td>-0.022</td><td>-0.028</td></tr>
<tr><td style="text-align:left">empresas</td><td>0.288</td><td>0.293</td><td>0.109</td><td>-0.081</td><td>0.304</td><td>-0.041</td><td>1</td><td>0.068</td><td>-0.101</td><td>0.212</td></tr>
<tr><td style="text-align:left">conflictos</td><td>0.088</td><td>0.105</td><td>0.086</td><td>-0.038</td><td>0.123</td><td>-0.024</td><td>0.068</td><td>1</td><td>-0.035</td><td>0.110</td></tr>
<tr><td style="text-align:left">accesibilidad</td><td>-0.194</td><td>-0.226</td><td>-0.464</td><td>0.003</td><td>-0.232</td><td>-0.022</td><td>-0.101</td><td>-0.035</td><td>1</td><td>-0.154</td></tr>
<tr><td style="text-align:left">homicidioH</td><td>0.584</td><td>0.720</td><td>0.239</td><td>-0.030</td><td>0.653</td><td>-0.028</td><td>0.212</td><td>0.110</td><td>-0.154</td><td>1</td></tr>
<tr><td colspan="11" style="border-bottom: 1px solid black"></td></tr></table>
