
<table style="text-align:center"><caption><strong>Matriz de correlación</strong></caption>
<tr><td colspan="10" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>violencia_familiar</td><td>pobM</td><td>escoacum</td><td>edad</td><td>empresas</td><td>homicidioH</td><td>vio_fam_lag</td><td>jus_pol</td><td>conflictos</td></tr>
<tr><td colspan="10" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">violencia_familiar</td><td>1</td><td>0.877</td><td>0.403</td><td>0.004</td><td>0.245</td><td>0.707</td><td>0.220</td><td>0.593</td><td>0.081</td></tr>
<tr><td style="text-align:left">pobM</td><td>0.877</td><td>1</td><td>0.406</td><td>-0.013</td><td>0.293</td><td>0.720</td><td>0.138</td><td>0.596</td><td>0.105</td></tr>
<tr><td style="text-align:left">escoacum</td><td>0.403</td><td>0.406</td><td>1</td><td>0.197</td><td>0.109</td><td>0.239</td><td>0.299</td><td>0.437</td><td>0.086</td></tr>
<tr><td style="text-align:left">edad</td><td>0.004</td><td>-0.013</td><td>0.197</td><td>1</td><td>-0.081</td><td>-0.030</td><td>0.032</td><td>-0.078</td><td>-0.038</td></tr>
<tr><td style="text-align:left">empresas</td><td>0.245</td><td>0.293</td><td>0.109</td><td>-0.081</td><td>1</td><td>0.212</td><td>-0.053</td><td>0.189</td><td>0.068</td></tr>
<tr><td style="text-align:left">homicidioH</td><td>0.707</td><td>0.720</td><td>0.239</td><td>-0.030</td><td>0.212</td><td>1</td><td>0.071</td><td>0.332</td><td>0.110</td></tr>
<tr><td style="text-align:left">vio_fam_lag</td><td>0.220</td><td>0.138</td><td>0.299</td><td>0.032</td><td>-0.053</td><td>0.071</td><td>1</td><td>0.110</td><td>0.008</td></tr>
<tr><td style="text-align:left">jus_pol</td><td>0.593</td><td>0.596</td><td>0.437</td><td>-0.078</td><td>0.189</td><td>0.332</td><td>0.110</td><td>1</td><td>0.111</td></tr>
<tr><td style="text-align:left">conflictos</td><td>0.081</td><td>0.105</td><td>0.086</td><td>-0.038</td><td>0.068</td><td>0.110</td><td>0.008</td><td>0.111</td><td>1</td></tr>
<tr><td colspan="10" style="border-bottom: 1px solid black"></td></tr></table>
