
<table style="text-align:center"><caption><strong>Matriz de correlación</strong></caption>
<tr><td colspan="12" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>desapM</td><td>pobM</td><td>escoacum</td><td>edad</td><td>empresas</td><td>homicidioH</td><td>conflictos</td><td>accesibilidad</td><td>desap_lag</td><td>soc_sal</td><td>jus_pol</td></tr>
<tr><td colspan="12" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">desapM</td><td>1</td><td>0.711</td><td>0.321</td><td>0.0003</td><td>0.223</td><td>0.502</td><td>0.067</td><td>-0.177</td><td>0.198</td><td>0.702</td><td>0.437</td></tr>
<tr><td style="text-align:left">pobM</td><td>0.711</td><td>1</td><td>0.406</td><td>-0.013</td><td>0.293</td><td>0.720</td><td>0.105</td><td>-0.226</td><td>0.126</td><td>0.850</td><td>0.596</td></tr>
<tr><td style="text-align:left">escoacum</td><td>0.321</td><td>0.406</td><td>1</td><td>0.197</td><td>0.109</td><td>0.239</td><td>0.086</td><td>-0.464</td><td>0.234</td><td>0.429</td><td>0.437</td></tr>
<tr><td style="text-align:left">edad</td><td>0.0003</td><td>-0.013</td><td>0.197</td><td>1</td><td>-0.081</td><td>-0.030</td><td>-0.038</td><td>0.003</td><td>0.036</td><td>0.007</td><td>-0.078</td></tr>
<tr><td style="text-align:left">empresas</td><td>0.223</td><td>0.293</td><td>0.109</td><td>-0.081</td><td>1</td><td>0.212</td><td>0.068</td><td>-0.101</td><td>-0.012</td><td>0.304</td><td>0.189</td></tr>
<tr><td style="text-align:left">homicidioH</td><td>0.502</td><td>0.720</td><td>0.239</td><td>-0.030</td><td>0.212</td><td>1</td><td>0.110</td><td>-0.154</td><td>0.099</td><td>0.653</td><td>0.332</td></tr>
<tr><td style="text-align:left">conflictos</td><td>0.067</td><td>0.105</td><td>0.086</td><td>-0.038</td><td>0.068</td><td>0.110</td><td>1</td><td>-0.035</td><td>0.039</td><td>0.123</td><td>0.111</td></tr>
<tr><td style="text-align:left">accesibilidad</td><td>-0.177</td><td>-0.226</td><td>-0.464</td><td>0.003</td><td>-0.101</td><td>-0.154</td><td>-0.035</td><td>1</td><td>-0.183</td><td>-0.232</td><td>-0.304</td></tr>
<tr><td style="text-align:left">desap_lag</td><td>0.198</td><td>0.126</td><td>0.234</td><td>0.036</td><td>-0.012</td><td>0.099</td><td>0.039</td><td>-0.183</td><td>1</td><td>0.121</td><td>0.167</td></tr>
<tr><td style="text-align:left">soc_sal</td><td>0.702</td><td>0.850</td><td>0.429</td><td>0.007</td><td>0.304</td><td>0.653</td><td>0.123</td><td>-0.232</td><td>0.121</td><td>1</td><td>0.631</td></tr>
<tr><td style="text-align:left">jus_pol</td><td>0.437</td><td>0.596</td><td>0.437</td><td>-0.078</td><td>0.189</td><td>0.332</td><td>0.111</td><td>-0.304</td><td>0.167</td><td>0.631</td><td>1</td></tr>
<tr><td colspan="12" style="border-bottom: 1px solid black"></td></tr></table>
