
<table style="text-align:center"><caption><strong>Resultados de modelo para variable de violencia familiar</strong></caption>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="1" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>violencia_familiar</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">pobM</td><td>0.00001<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.00000)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">escoacum</td><td>0.671<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.027)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">edad</td><td>-0.154<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.009)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">empresas</td><td>0.001<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.0002)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">homicidioH</td><td>0.005<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.001)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">vio_fam_lag</td><td>0.002<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.0001)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">jus_pol</td><td>0.264<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.023)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">conflictos</td><td>0.178<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.082)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>2.095<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.280)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>2,442</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-9,048.096</td></tr>
<tr><td style="text-align:left">theta</td><td>0.590<sup>***</sup> (0.018)</td></tr>
<tr><td style="text-align:left">Akaike Inf. Crit.</td><td>18,114.190</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
